body {
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMXE1ZTY2ZGJvNmIxa3N5OGZ1a3I4eGQzcG1qYTMycWY1YjQ1ZGFhbCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Xf6mHe22c55r3cnzAk/giphy.gif");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 97vw;
    color: black;
    

}



#pikachu {
    width: 50px;
    height: 50px;
    position: relative;
    animation: backandfourth 35s infinite
} 

@keyframes backandfourth {
    0%, 100% { left: 0; }
    50% {left: calc(100% - 200px) }
}

.dark-mode {
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExY3Zkb2JrMDE1dzYydGcwNG45NDQ1Z25hZHBoZWhuYWxteGt0ZXBtbiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/rRKcpDgvYNpEk/giphy.gif" );
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 97vw;
    color: white;
}

button {
    margin:5px;
    border-radius: 5px;
    font-size: 15px;
}

p {
    font-size: larger;
    font-weight: bold;
}



#lightSwitch {
    float: right;
    position: relative;
    bottom: 350px;
}