body {
    background-color: bisque;
    color: black;
}
.dark-mode {
    background-color: black;
    color: white;
}

button {
    margin:5px;
    border-radius: 5px;
    font-size: 15px;
}

p {
    font-size: larger;
}

#modeSwitch {
    float: right;
    position: relative;
    bottom: 350px;
}