body {
    background-color: bisque;
    color: black;
}

img {
    width: 50px;
    height: 50px;
    position: relative;
    animation: backandfourth 25s infinite
} 

@keyframes backandfourth {
    0%, 100% { left: 0; }
    50% {left: 100%; }
}

.dark-mode {
    background-color: black;
    color: white;
}

button {
    margin:5px;
    border-radius: 5px;
    font-size: 15px;
}

p {
    font-size: larger;
}



#modeSwitch {
    float: right;
    position: relative;
    bottom: 350px;
}